/* css part for To-dos will go here*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: rgb(10, 14, 29);
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #2e2b2b;
    border-radius: 10px;
    background-color: rgba(21, 29, 59, 0.274);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
}

h1 {
    color: #ffffff;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(10, 14, 29);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    margin: 10px;
    border-radius: 4px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    background-color: rgb(10, 14, 29);
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(21, 29, 59, 0.274);
    padding: 10px 0;
}
li:hover {
    background-color: rgb(21, 29, 59, 0.274)
}
li .delete {
    color: #f44336;
    cursor: pointer;
    font-size: 20px;
}
@media screen and (max-width: 600px) {
    input[type="text"] {
        width: 60%; /* Adjust input width for small screens */
    }
    button,input {
        margin-top: 10px;
    }
}
/*end here*/